<!-- Home Section -->
<section id="home-section" class="home-section half-height">
    <div class="parallax-hero full-screen home-bg" data-top="transform: translate3d(0px, 0px, 0px)" data-top-bottom="transform: translate3d(0px, -200px, 0px)"
        data-anchor-target="#home-section"></div>
    <div class="hero-clouds"></div>
    <div class="hs-content half-height">
        <div class="hs-content-inner">
            <div class=" init-animation-2 delay0-4s">
                <h1 class="cd-headline letters rotate-3 hs-text-10 font-second">
                    <span class="cd-words-wrapper">
                        <b class="is-visible">developer,</b>
                        <b>coder,</b>
                        <b>programmer,</b>
                        <b>coffee&nbsp;consumer</b>
                    </span>
                </h1>
            </div>
        </div>
        <!--down arrow animation-->
        <span class="scroll-down-arrow in-page-scroll" data-start="display: inline-block" data-100-start="display: none">
            <a href="#about-section" class="ci-icon-uniE930 init-animation-2 delay1-8s"></a>
        </span>
    </div>
</section>
<!--/ End Home Section -->
<!-- Navbar -->
<div class="position-relative">
    <!-- sticky: 1) remove"transp-nav" class, add class="sticky-navbar" to #nav-wrapper | 2) remove navbar-fixed-top class from #nav [and navbar-transparent class too] -->
    <div id="nav-wrapper" class="transp-nav sticky-navbar sticky-visible">
        <nav id="nav" class="navbar navbar-transparent navbar-default ripple-group-parent" role="navigation">
            <!-- progressbar -->
            <div id="scroll-progressbar" class="scroll-progressbar">
                <div>
                    <span class="scroll-shadow"></span>
                </div>
            </div>
            <div class="container in-page-scroll">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" id="animated-navicon" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand ripple-group" href="#top">
                        <div class="navbar-logo pull-left">
                            <img src="/theme/img/my-logo/laptop-logo.png" alt="logo" id="logo-nav" />
                        </div>
                        <p class="pull-left font-second">
                            jeslyn l. web developer
                        </p>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="mobile-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right cl-effect-5">
                        <li>
                            <a class="ripple-group" href="/">
                                <span data-hover="home">home</span>
                            </a>
                        </li>
                        <li>
                            <a class="ripple-group" href="/#about-section">
                                <span data-hover="about">about</span>
                            </a>
                        </li>
                        <li>
                            <a class="ripple-group" href="/#portfolio-section">
                                <span data-hover="portfolio">portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a class="ripple-group" href="/#skillset-section">
                                <span data-hover="skillset">skillset</span>
                            </a>
                        </li>
                        <li>
                            <a class="ripple-group" href="/#contact-section">
                                <span data-hover="contact me">contact me</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
</div>
<!--/ End Navbar -->

<!--UI-View-Home-->
<div ui-view="content"></div>

<!-- </div> -->
<!--/ End Page Wrapper -->
<script src="/theme/js/animated-headlines.js"></script>
<script src="/theme/js/scripts.min.js"></script>